@import '../../assets/sass/variables.scss';

.Intro {
    color: $primaryTextColor;
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
    text-align: center;

    .Logo {
        user-select: none;
        width: 60vw;
        margin: auto;
        margin-bottom: 0;
    }
    .Begin {
        margin-top: 0.5rem;

        p {
            cursor: pointer;
        }
    }

    @media(min-width: 768px) {
        .Logo {
            width: 50vw;
        }
        .Begin {
            margin-top: 1rem;

            p {
                font-size: 2rem;
            }
        }
    }
}