//Font Size
$mainFontSize: 16px;

//Font Family
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Roboto Condensed', sans-serif;

//Colors
$BackgroundColor: #1a1a1a;
$primaryTextColor: #9011ff;
$textBlockColor: #999999;